* {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/* Paleta de colores
#441151 Morado oscuro
#7F2CCB Morado claro
#FF84E8 Rosado 
#414361 Gris claro
#2A2D43 Gris oscuro*/

/* Header */
#header {
    background-image: url('./assets/wave.svg');
    background-repeat: no-repeat;
    width: 100%;
}