* {
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

/* Paleta de colores
#441151 Morado oscuro
#7F2CCB Morado claro
#FF84E8 Rosado 
#414361 Gris claro
#2A2D43 Gris oscuro*/

/* Header */
#header {
    background-image: url('./assets/wave.svg');
    background-repeat: no-repeat;
    width: 100%;
    display: inline-block;
   
}

.header-left {
    padding-top: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1, .header-left p {
    color: #414361;
}

h1 {
    font-size: 2em;
}


.header-left p {
    font-size: 1.2em;
}

.header-right {
    color: #FF84E8;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#img-profile {
    margin-top: 15px;
    width: 20vw;
    height: 20vw;
    border: 5px solid #2A2D43;
    border-radius: 50%;
}

.header-right p {
    margin-top: 10px;
}

section {
    height: 100%;
    margin: 5%;
}

section h2 {
    color: #FF84E8;
}

i {
    margin-right: 10px;
}

.container {
    padding: 2%;
    text-align: justify;
}

.container h3 {
    color: #2A2D43;
}

.container p {
    font-style: italic;
}

.container p, .container ul li {
    color: #414361;
}

@media screen and (min-width:720px) {
    #header {
        display: flex;
    }

    .header-left {
        padding: 5%;
    }

    h1, .header-left p {
        color: #fff;
    }

    h1 {
        font-size: 3em;
    }
    
}